body {
    height: 600px;
}

.container {
    display: flex;
}

#app {
    height: 100%;
}

#board {
    flex-direction: column;
    height: 100%;
}

#info {
    justify-content: flex-end;
    font-size: 30px;
}

#key-color {
    flex: auto;
    justify-content: center;
}

#timer {
    color: green;
    font-weight: bold;
}

#colors {
    flex: auto;
}

#colors > div {
    flex: auto;

}
