body {
    height: 600px;
}

.container {
    display: flex;
}

#app {
    height: 100%;
}

#board {
    flex-direction: column;
    height: 100%;
}

#key-color {
    justify-content: center;
    font-size: 30px;
}

#colors {
    flex: auto;
}

#colors > div {
    flex: auto;

}
